* { 
  box-sizing: border-box; 
}

img {
    width: 100%;
}

.new-todo-input {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.new-category-input {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.todo-list {
  width: 500px;
}

.done {
  text-decoration: line-through;
}

.well {
  display: flex;
  justify-content: center; 
}

.nav-button {
  margin-left: 2vw; 
}